{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
    .up{
        color: green;
    }

    .down{
        color: red;
    }
</style>

<div class="col-md-12">
    {% for post in posts %}
     <div class="panel panel-default">
         <div class="panel-heading"><h3 class="panel-title">{{post.title}}</h3></div>
         <div class="panel-body">{{post.text | safe}}</div>
         <div class="panel-footer">{{post.dateofcreation}} by {{post.createdby}} </div>
     </div>
     {% endfor %}
</div>

        <!--<h3>Welcome to SVREA<br></h3>-->
        <!--<h5>Get a fresh daily dose of real estate anaytics in Sweden</h5>-->
        <!--<p>SVREA is a dynamic website with a focus on presentation and analysis of current situation in Swedish real estate market.-->
        <!--<br/>-->
        <!--For better experience please use <a href="https://www.google.com/chrome/browser/desktop/index.html" style="">google Chrome</a>-->
        <!--</p>-->


{% endblock %}


