{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="text-center blue">
    <h2>Please Register</h2>
    <!--<form action="" method="post" autocomplete="off" name="blah" class="navbar-form">-->
        <!--{% csrf_token %}-->
        <!--<input type="password" name="password" id="password_fake" class="hidden" autocomplete="off" style="display: none;">-->
        <!--<input type="username" placeholder="Username" name="username" autocomplete="new-username", value="{% if reg_username %}{{ reg_username}}{% endif %}" required/><br/>-->
        <!--<input type="email" placeholder="Email" name="email"  autocomplete="off" value="{% if reg_email %}{{ reg_email }}{% endif %}" required/><br/>-->
        <!--<input type="password" placeholder="Password" name="password"  autocomplete="new-password" required/><br>-->
        <!--<input type="password" placeholder="Repeat Password" name="rep_password"  autocomplete="new-password" required/><br>-->
        <!--<input type="submit" name="submit" value="Register" ><br/>-->
    <!--</form>-->
    Sorry, registration is closed
</div>

{% endblock %}

