{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<style>
    .flag_1 {
        color: green
    }
    .flag_2 {
        color: orange
    }

    .flag_3 {
        color: red
    }
</style>


<form method="post" > {% csrf_token %}
    <div class="full">
        <div class="container-fluid ">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title text-center">Favourite Time eries</h3></div>
                    <div class="text-left blue">
                        <table width="100%">
                            <tr>
                                <th></th>
                                <th>Creation Date</th>
                                <th>Title</th>
                                <th>User Name</th>
                                <th>User Group</th>
                                <th>Comment</th>
                            </tr>
                            {% for s in ts %}
                                <tr {% if s.flag == '1' %} class="flag_1"
                                    {% elif s.flag == '2' %} class="flag_2"
                                    {% elif s.flag == '2' %} class="flag_3"
                                    {% endif %}>
                                    <td><button type="submit" name="runTS" value="runTS_{{s.id}}">Run</button></td>
                                    <td>{{s.creationdate}}</td>
                                    <td>{{s.favouritename}}</td>
                                    <td>{{s.username}}</td>
                                    <td>{{s.usergroup}}</td>
                                    <td>{{s.comment}}</td>
                                    <td><button type="submit" name="editTS" value="editTS_{{s.id}}">Edit</button></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            {% if ts.has_previous %}
             <a href="?page=1">First</a>
            <a href="?page={{ logs.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a>
            {% endif %}
        </li>

        {% for page in ts.paginator.page_range %}
            {% if page <= ts.number|add:"2" and page >= ts.number|add:"-2" and page != ts.number %}
                <li><a href="?page={{page}}">{{page}}</a></li>
            {% elif page == ts.number %}
                <li class="active"><a href="?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}

        <li>
            {% if ts.has_next %}
            <a href="?page={{ ts.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a href="?page={{ts.paginator.num_pages}}" aria-label="Next">Last</a>
            {% endif %}
        </li>
    </ul>
</nav>

{% endblock %}


