{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}


 <div class="full">
            <div class="text-center blue">
                <h3>Welcome to SVREA<br></h3>
                <h5>Get a fresh daily dose of real estate anaytics in Sweden</h5>
                <h5>SVREA is a dynamic website with a focus on presentation and analysis of current situation in Swedish real estate market.
                </h5>
                For better experience please use <a href="https://www.google.com/chrome/browser/desktop/index.html" style="">google Chrome</a>
            </div>
        </div>

{% endblock %}


