{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}


 <div class="full">
            <div class="text-center blue">
                <h3>Welcome to SVREA<br></h3>
                <p>Get a Freash Daily Dose of Real Estate Anaytics in Sweden</p>
                <p>SVREA is a dynamic website focusing on an presentation and analysis of current situation in Swedish real estate market
                </p>
                For better experience please use <a href="https://www.google.com/chrome/browser/desktop/index.html" style="">google Chrome</a>
            </div>
        </div>

{% endblock %}


