{% extends '../base.html' %}
{% load humanize %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{%static "css/style_index.css"%}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            {% for post in posts %}
            <div><h3><a href="{{post.get_detailed_url}}">{{post.title}}</a></h3></div>
            <div>{{post.dateofcreation}} by {{post.createdby}}</div>
            <div >{% autoescape off %}{{post.text|truncatechars:400}}{% endautoescape %}</div>
            {% endfor %}
        <div class="text-center"><a href="{%url 'posts:posts'%}"> See more news...</div>
        </div>
    </div>
</div>


{% endblock %}


