{% extends '../base.html' %}
{% load humanize %}
{% load static %}


{% block head %}
<style>
    .full, html, body {
        height:100%;
        margin:0;
    }
    .full {
        display: flex;
        flex-direction: column;
    }

    #map {
        flex:2;
        display: flex;
    }
</style>
{% endblock %}

{% block content %}
    <div id="map"></div>
    <script type="text/javascript" src="https://cdn.rawgit.com/geocodezip/geoxml3/master/polys/geoxml3.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/geocodezip/geoxml3/master/ProjectedOverlay.js"></script>

    <script>

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 57.585752, lng:  14.198204},
                    zoom: 6,
                    maxZoom:12,
                    minZoom: 6,
                    scaleControl: true
            });

            var myParser = new geoXML3.parser({
                map: map,
                singleInfoWindow: true,
                afterParse: useTheData
            });
            myParser.parse('{% static "maps/Sweden/Muni_reduced.kml" %}');

        }

        function useTheData(doc){
            geoXmlDoc = doc[0];
            //console.log('hello')
            //console.log(geoXmlDoc.gpolygons[1]['title'])
            for (idx = 0; idx < geoXmlDoc.gpolygons.length; idx += 1){
                var color = '#3498DB'
                switch(geoXmlDoc.gpolygons[idx]['title']){
                    case 'Skane':
                        color = '#F1948A'
                        break;
                    case 'Halland':
                        color = '#C39BD3'
                        break;
                }
                console.log(geoXmlDoc.gpolygons[1]['title'])
                geoXmlDoc.gpolygons[idx].setOptions({fillColor: color, strokeColor: color, fillOpacity: 0.7});
            }





        };
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnIE9wJPz5n13I1vcB02dx9mM2tcKNJ6A&libraries=visualization&callback=initMap">
    </script>

{% endblock %}



