{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% load cache %}
{% block styles %}
<link rel="stylesheet" href="{%static "css/style_tables.css"%}">
{% endblock %}

{% block head %}
<style>
    .full, html, body {
        height:100%;
        margin:0;
    }
    .full {
        display: flex;
        flex-direction: column;
    }

    #map {
        flex:2;
        display: flex;
    }
</style>

{% endblock %}

{% block content %}
    <div class="text-center blue">
        <h4> Map of Properties Currently Available for Sale</h4>
    </div>
    {% cache 7200 maps_listings  %}
    <div id="map"> </div>
    {% endcache %}

    <script>
        var map;
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 63.210463, lng:  14.256282},
                zoom: 5,
                scaleControl: true,
                clickableIcons: false
            });
            markers = {{ data | safe | intcomma }}

            var info = new google.maps.InfoWindow()
            icourl = 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/'
            ico_lag = icourl + 'Map-Marker-Marker-Outside-Pink-icon.png';
            ico_vil = icourl + 'Map-Marker-Marker-Outside-Chartreuse-icon.png';
            ico_def = icourl + 'Map-Marker-Marker-Outside-Azure-icon.png'

            var mlist = []

            for (i = 0; i < markers.length; i ++){
                switch(markers[i][3]){
                    case "lagenhet":
                        ico = ico_lag;
                        break;
                    case "villa":
                        ico = ico_vil;
                        break;
                    default:
                        ico = ico_def;
                }



                var marker = new google.maps.Marker({
                    position: {lat: markers[i][0], lng: markers[i][1]},
                    map : map,
                    fitle : markers[i][2],
                    icon : ico
                });

                marker.addListener('click', (function(marker, i) {
                    return function() {

                    info.setContent(marker.fitle);
                    info.open(map, marker);
                    }
                 })(marker, i));


                mlist.push(marker)
            }



            var markerCluster = new MarkerClusterer(map,mlist,{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
                                                              maxZoom:12,
                                                              zoomOnClick: 0
                                                              })
        }

        </script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnIE9wJPz5n13I1vcB02dx9mM2tcKNJ6A&libraries=visualization&callback=initMap">
    </script>

{% endblock %}
