{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% load custom_ttags %}

{% block head%}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<style>
    .js-example-basic-multiple{
        width:50%;
    }

    .optionCounty{
        font-weight: bold;
    }

    .optionMuni{
        padding-left: 25px;
    }

</style>

{% endblock%}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static "js/js.cookie.js" %}"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart', 'line']});
google.charts.setOnLoadCallback(listings_price_hist);

function listings_price_hist() {
var data = google.visualization.arrayToDataTable({{ listings_hist | safe}});
var options = {
    title : '',
    legend : {position : 'right'},
    bar : {groupWidth: '100%'},
    hAxis:{
        title : '{{x_axis_title | safe}}'
    },
    vAxis:{
        title : 'Frequency'
    }
    }


var chart = new google.visualization.{{chart_type | safe}}Chart(document.getElementById('listings_price_hist'));
chart.draw(data, options);
}

//$(document).ready(mselect());
window.onload = function(){
    listings_price_hist()
    mselect()
}

function mselect(){
    $(".js-example-basic-multiple").select2({
        placeholder: "Select a region",
        allowClear: true,
        templateResult: function (data, container) {
            if (data.element) {
                $(container).addClass($(data.element).attr("class"));
            }
            return data.text;
        }
    });
}

function displayPeriodForm(sel){
    //alert(1);
    document.getElementById('period_day_' + sel).style.display='none';
    document.getElementById('period_week_' + sel).style.display='none';
    document.getElementById('period_month_' + sel).style.display='none';
    document.getElementById('period_quarter_' + sel).style.display='none';
    document.getElementById('period_year_' + sel).style.display='none';

    switch (document.getElementById('period_type_' + sel).selectedIndex){
        case 0:
            document.getElementById('period_day_' + sel).style.display='';
            break;
        case 1:
            document.getElementById('period_week_' + sel).style.display='';
            break;
        case 2:
            document.getElementById('period_month_' + sel).style.display='';
            break;
        case 3:
            document.getElementById('period_quarter_' + sel).style.display='';
            break;
        case 4:
            document.getElementById('period_year_' + sel).style.display='';
            break;

    };
}


function removeHist(num){
    //alert(document.getElementById('div_hist_' + num))
    elem = document.getElementById('div_hist_' + num)
    elem.parentNode.removeChild(elem)
}

var g_child = {{histInfo|length}}

function newHist() {
    var e = g_child
    container = document.getElementById('new_hist_list');
    div = document.createElement('div');
    div.id = 'div_hist_' + g_child
        h5 = document.createElement('H5');

        index = document.createElement('input')
        index.type = 'hidden'
        index.name = 'index_' + e
        index.value = e
        h5.appendChild(index)

        h5.appendChild(document.createTextNode(g_child + '. Dates: '));

            period_type = document.createElement('select');
            period_type.name = "period_type_" + g_child;
            period_type.id = "period_type_" + g_child;
            period_type.onchange = function(){displayPeriodForm(e)}
                option0 = document.createElement('option');
                option0.text = 'Day'
                period_type.add(option0)
                option1 = document.createElement('option');
                option1.text = 'Week'
                period_type.add(option1)
                option2 = document.createElement('option');
                option2.text = 'Month'
                period_type.add(option2)
                option3 = document.createElement('option');
                option3.text = 'Quarter'
                period_type.add(option3)
                option4 = document.createElement('option');
                option4.text = 'Year'
                period_type.add(option4)
        h5.appendChild(period_type)

            input_day = document.createElement('input')
            input_day.type = 'date'
            input_day.name = 'period_day_' + e
            input_day.id = 'period_day_' + e
            input_day.style = 'display:""'
            input_day.value = '{{defHistInfo.period_day}}'
        h5.appendChild(input_day)

            input_week = document.createElement('input')
            input_week.type = 'week'
            input_week.name = 'period_week_' + e
            input_week.id = 'period_week_' + e
            input_week.style = 'display:none'
            input_week.value = '{{defHistInfo.period_week}}'
        h5.appendChild(input_week)

            input_month = document.createElement('input')
            input_month.type = 'month'
            input_month.name = 'period_month_' + e
            input_month.id = 'period_month_' + e
            input_month.style = 'display:none'
            input_month.value = '{{defHistInfo.period_month}}'
        h5.appendChild(input_month)

            input_quarter = document.createElement('input')
            input_quarter.type = 'text'
            input_quarter.name = 'period_quarter_' + e
            input_quarter.id = 'period_quarter_' + e
            input_quarter.style = 'display:none'
            input_quarter.value = '{{defHistInfo.period_quarter}}'
        h5.appendChild(input_quarter)

            input_year = document.createElement('input')
            input_year.type = 'year'
            input_year.name = 'period_year_' + e
            input_year.id = 'period_year_' + e
            input_year.style = 'display:none'
            input_year.value = '{{defHistInfo.period_year}}'
        h5.appendChild(input_year)

        h5.appendChild(document.createTextNode(' Type: '));

            property_type = document.createElement('select');
            property_type.name = "property_type_" + e;
            //property_type.id = "property_type_" + e;
                option0 = document.createElement('option');
                option0.text = 'Active'
                property_type.add(option0)
                option1 = document.createElement('option');
                option1.text = 'Sold'
                property_type.add(option1)
        h5.appendChild(property_type)

        h5.appendChild(document.createTextNode(' Property: '));

            property = document.createElement('select');
            property.name = "property_" + e;
            //property.id = "property_" + e;
                option0 = document.createElement('option');
                option0.text = 'Villa'
                property.add(option0)
                option1 = document.createElement('option');
                option1.text = 'Lägenhet'
                property.add(option1)
        h5.appendChild(property)

        h5.appendChild(document.createTextNode('  Region: '));
            area_select = document.createElement('select')
            area_select.name = 'county_selected_' + e
            area_select.className = "js-example-basic-multiple"
            area_select.multiple = "multiple"
                opt = document.createElement('option')
                opt.text = 'Whole Sweden'
                opt.className = "optionCounty"
                area_select.appendChild(opt)
                var county_list = {{county_list | safe}}

                for (county in county_list['Whole Sweden']){
                    var val = county_list[county]
                    og = document.createElement('option')
                    og.text = county
                    og.className = "optionCounty"
                    area_select.appendChild(og)

                    for (var muni in county_list['Whole Sweden'][county]){
                        option = document.createElement('option')
                        option.text = county_list['Whole Sweden'][county][muni]
                        option.className = "optionMuni"
                        area_select.appendChild(option)
                    }
                }
        h5.appendChild(area_select)

        hlink = document.createElement('a')
        hlink.href = 'javascript:removeHist(' + g_child + ')'
        hlink.appendChild(document.createTextNode(' Remove    '))
        h5.appendChild(hlink)

    div.appendChild(h5);
    container.appendChild(div);
    g_child ++;
    document.getElementById('g_child').value=g_child
    mselect()

}

function clearHistText(){
    document.getElementById('name_of_hist').value = '';
}


</script>


<div id="full">
    <div class="container-fluid ">
        <form method="get" name="form_" id="histForm" value="hello">
            <div class="col-md-4">
                <div class="panel panel-primary text-center blue">
                    <div class="panel-heading"><h3 class="panel-title text-center">Plot Style</h3></div>
                    <div style="padding:10px">
                        # of bins <input type="text" name="num_bins" value="{{num_bins}}" size="3"></br>
                        Cutoffs: Lower <input type="text" name="LowerCutoff" value="{{LowerCutoff}}" size="3">%
                        Upper <input type="text" name="UpperCutoff" value="{{UpperCutoff}}" size="3">%</br>
                        Style:
                        <select name="chart_type">
                            <option value="Column" {% if chart_type == "Column" %} selected {% endif%}>Column</option>
                            <option value="Line" {% if chart_type == "Line" %} selected {% endif%}>Line</option>
                        </select>
                    </div>
                </div>
                <div class="panel panel-primary text-center blue">
                    <div class="panel-heading"><h3 class="panel-title text-center">Histograms</h3></div>
                    <div style="padding:10px">
                        <input type="hidden" name="g_child" id="g_child" value="{{g_child}}">
                        Type:
                        <select name="hist_type">
                            <option {% if hist_type == "Price" %} selected {% endif%}>Price</option>
                            <option {% if hist_type == "Price m2" %} selected {% endif%}>Price m2</option>
                            <option {% if hist_type == "Area" %} selected {% endif%}>Area</option>
                            <option {% if hist_type == "Rent" %} selected {% endif%}>Rent</option>
                            <option  {% if hist_type == "Days Before Sold" %} selected {% endif%}>Days Before Sold</option>
                            <option {% if hist_type == "Property Age" %} selected {% endif%}>Property Age</option>
                        </select></br>
                        Data:
                        <select name="data_type">
                            <option value="Abs" {% if data_type == "Abs" %} selected {% endif%}>Absolute</option>
                            <option value="Rel" {% if data_type == "Rel" %} selected {% endif%}>Relative</option>
                        </select>
                    </div>
                </div>
                <div align="center" class="panel text blue"><button name="tte"><h5>Refresh Histogram</h5></button></div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title text-center">Price Histogram</h3></div>
                    <div id="listings_price_hist" style="height:600px"></div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary" style="border:0;">
                    {% if request.user.is_authenticated %}
                    <div class="panel-primary text blue">
                        {% if fav_h %}
                        <div style="">
                            <input type="text" hidden name="fav_hid" value="{{fav_h.id}}">
                            {{fav_h.favouritename}}
                            was created on {{fav_h.creationdate}}
                            and updated on {{fav_h.lastupdatedate}}
                            by {{fav_h.username}}
                            with comment <br><textarea name="fav_hcomment">{{fav_h.comment}}</textarea>
                        </div>
                        {% endif %}
                        <div style="float:left;">
                            {% if fav_h %}<button name="update_favourite" value=" ">Update {{fav_h.favouritename}}</button>{% endif %}
                            <button name="save_hist" value=" ">{% if fav_h %}Save as New Favourite{% else %}Add to Favourites{%endif%}</button>
                            <input type="text" name="name_of_hist" id="name_of_hist" value="{% if fav_h %} New Name{% else %}Histogram Name{%endif%}" onclick="clearHistText();">
                        </div>
                        <div style="float:right;">
                            {% if fav_h %}<button name="delete_hist" value=" ">Delete {{fav_h.favouritename}}</button>{%endif%}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="panel panel-primary" style="clear:both; border:0;">
                    <div class="text blue" id="new_hist_list">
                        <button name="test" type="button" onclick="newHist()">Add Histogram</button>
                        <!--<button name="tte" style="float: centre;"><h3>Refresh Histogram</h3></button>-->
                        <br><br>
                        {% for hist in histInfo %}
                            <div id = "div_hist_{{forloop.counter0}}">
                                <h5>
                                    <input type="hidden" name="index_{{forloop.counter0}}" value="{{forloop.counter0}}">
                                    {{forloop.counter0}}. Dates:
                                    <select name="period_type_{{forloop.counter0}}" id="period_type_{{forloop.counter0}}" onchange="displayPeriodForm({{forloop.counter0}})">
                                        <option {%if hist.period_type == "Day"%} selected {%endif%}>Day</option>
                                        <option {%if hist.period_type == "Week"%} selected {%endif%}>Week</option>
                                        <option {%if hist.period_type == "Month"%} selected {%endif%}>Month</option>
                                        <option {%if hist.period_type == "Quarter"%} selected {%endif%}>Quarter</option>
                                        <option {%if hist.period_type == "Year"%} selected {%endif%}>Year</option>
                                    </select>
                                    <input type="date" id="period_day_{{forloop.counter0}}"      name="period_day_{{forloop.counter0}}"   {% if hist.period_type != "Day"%}  style="display:none" {%endif%} value="{{hist.period_day}}">
                                    <input type="week" id="period_week_{{forloop.counter0}}"     name="period_week_{{forloop.counter0}}"  {% if hist.period_type != "Week"%}  style="display:none" {%endif%} value="{{hist.period_week}}">
                                    <input type="month"id="period_month_{{forloop.counter0}}"    name="period_month_{{forloop.counter0}}" {% if hist.period_type != "Month"%} style="display:none" {%endif%} value="{{hist.period_month}}">
                                    <input type="text" id="period_quarter_{{forloop.counter0}}"     name="period_quarter_{{forloop.counter0}}"  {% if hist.period_type != "Quarter"%}  style="display:none" {%endif%} value="{{hist.period_quarter}}">
                                    <input type="year" id="period_year_{{forloop.counter0}}"     name="period_year_{{forloop.counter0}}"  {% if hist.period_type != "Year"%}  style="display:none" {%endif%} value="{{hist.period_year}}">
                                    Type:
                                    <select name="property_type_{{forloop.counter0}}">
                                        <option {% if hist.property_type == "Active" %} selected {% endif%}>Active</option>
                                        <option {% if hist.property_type == "Sold" %} selected {% endif%}>Sold</option>
                                    </select>
                                    Property:
                                    <select name="property_{{forloop.counter0}}">
                                        <option {% if hist.property == "Villa" %} selected {% endif%}>Villa</option>
                                        <option {% if hist.property == "Lägenhet" %} selected {% endif%}>Lägenhet</option>
                                    </select>
                                    Region:
                                    <select class="js-example-basic-multiple" name="county_selected_{{forloop.counter0}}" multiple="multiple" required>
                                         <option class="optionCounty" {% if 'Whole Sweden' in hist.county_selected %} selected {% endif%}>Whole Sweden</option>
                                        {% with clist=county_list|get_dic_value:"Whole Sweden" %}
                                        {% for county, munis in clist.items %}
                                            <option class="optionCounty" {% if county in hist.county_selected %} selected {% endif%}>{{county}}</option>
                                            {% for muni in munis%}
                                            <option class="optionMuni" {% if muni in hist.county_selected %} selected {% endif %}>{{muni}}</option>
                                            {% endfor %}

                                        {% endfor %}
                                        {% endwith %}

                                    </select>
                                    <a href="javascript:removeHist({{forloop.counter0}})"> Remove</a>
                                </h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

