{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<style>
    .uploadeddata {
        color: green
    }
</style>



<div class="full">
    <div class="container-fluid ">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title text-center">Raw Data</h3></div>
                <div class="text-left blue">
                    <table width="100%">
                        <tr>
                            <th>id</th>
                            <th>Downloaded</th>
                            <th>Is Uploaded</th>
                            <th>Uploaded</th>
                            <th>Type</th>
                            <th>Area Code</th>
                            <th>Raw Data Size</th>
                        </tr>
                        {% for i in info %}
                            <tr {% if i.isuploaded == True %} class="uploadeddata"
                                {% endif %}>
                                <td>{{i.id}}</td>
                                <td>{{i.downloaded}}</td>
                                <td>{{i.isuploaded}}</td>
                                <td>{{i.uploaded}}</td>
                                <td>{{i.type}}</td>
                                <td>{{i.areacode}}</td>
                                <td>{{i.sizeofdata}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


