{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<style>
    .runningscript {
        color: orange
    }
    .stoppedscript {
        color: red
    }
</style>



<div class="full">
    <div class="container-fluid ">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title text-center">Script History</h3></div>
                <div class="text-left blue">
                    <table width="100%">
                        <tr>
                            <th>id</th>
                            <th>Date Started</th>
                            <th>User</th>
                            <th>Command</th>
                            <th>Status</th>
                            <th>Comment</th>
                        </tr>
                        {% for script in history %}
                            <tr {% if script.status == 'started' %} class="runningscript"
                                {% elif script.status == 'stopped' %} class="stoppedscript"
                                {% endif %}>
                                <td>{{script.id}}</td>
                                <td>{{script.started}}</td>
                                <td>{{script.user_name}}</td>
                                <td>{{script.config}}</td>
                                <td>{{script.status}}</td>
                                <td>{{script.comment}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


