{% extends '../base.html' %}
{% load humanize %}
{% load static %}
{% block content %}


<form method="post" > {% csrf_token %}
    <div class="full">
        <div class="container-fluid ">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h3 class="panel-title text-center">Active Scripts</h3></div>
                        <div class="text-left blue">
                            {% for script in running_scripts %}
                                {{script.id}} | {{script.started}} | {{script.user_name}} | {{script.config}} | {{script.status}} | {{script.comment}}<br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="text" name="script_params">
                    <button type="submit" name="run_script" class="btn btn-default">Run Script</button>
                </div>

        </div>
    </div>

</form>

command format:<br>
COMMAND PARAMETER [-f]
<br><br>
<div>
    <table width = 500 border="2">
        <col width="100">
        <tr><td>COMMAND</td> <td>PARAMETER</td></tr>
        <tr><td colspan="2">downloads data from booli.se into rawdata table. -l parameter forces download only last 300 entries</td>
        <tr><td>-d</td><td>sold [-l]</td></tr>
        <tr><td></td><td>listings [-l]</td></tr>
        <tr><td colspan="2">uploads data from rawdata into models</td></tr>
        <tr><td>-u</td>
        <tr><td colspan="2">stops execution of running script</td></tr>
        <tr><td>-s</td>
        <!--<tr><td></td><td>upload</td>-->
        <!--<tr><td></td><td>analyze</td>-->
        <tr><td colspan="2">Creates etl table</td></tr>
        <tr><td>-a</td>
        <tr><td colspan="2">clears specific auxilary table</td></tr>
        <tr><td>-s</td><td>log</td>
        <tr><td></td><td>info</td>
        <tr><td></td><td>rawdata</td>
    </table>
</div>



{% endblock %}


