@charset "utf-8";
/* CSS Document */

*{padding: 0;margin: 0}
html{
	background: #6CBDEC;
  background: -webkit-linear-gradient(#6CBDEC, #FFFFFF);
  background: -o-linear-gradient(#6CBDEC, #FFFFFF);
  background: linear-gradient(#6CBDEC, #FFFFFF);
	font-size: 100%;

}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	background-color: transparent;
}

a{
	color:#0000CC;
	
}
a:hover{
	color:#0000CC;
}
a.dropdown-toggle{
	text-transform: uppercase;
	font-size: 110%;
	font-weight: 700;
	color:#0000CC;
	border-bottom: rgba(108 189 236 1) 5px solid;
	} 

.nav>li>a {
    position: relative;
    display: block;
    padding: 25px 25px 0 0;
}

.navbar-default .navbar-nav>li>a{
	color:#0000CC;
	padding-bottom: 3%;
}
.navbar-default .navbar-nav>li>a:hover{
	border-bottom: #0000CC 5px solid;	
	color:#0000CC;
}
.full{
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	}

.rea {
	display: block;
	font-size:600%;
	color:#0000CC;
	font-weight: 900;
	text-decoration: none;
	margin: 2% 0 0 0;
	}
h1{
	display: block;
	font-size:200%;
	font-weight: 500;
	margin-top: 1%;
	margin-bottom: 3%;
	color:#0000CC;
}

.navbar.navbar-default{
	width: 1024px;
	height: 70px;
	border-color: transparent;
	margin: auto;
	border-radius: 0;  
}
#bs-example-navbar-collapse-1.collapse.navbar-collapse{
	margin: 8px 0;
}
.panel.panel-primary{
	border-color: transparent;
	border-radius: 0;
	padding: 2% 0;
}
.navbar-text.navbar-right{
	margin: 15px 0;
}
	
.navbar-default{
	background-color: #C7E8F2;
}

.logOut{
	display: block;
	float: right;
	margin-top: 10px;
	}	
div.col-md-12{
	display: block;
	width:1024px;
	background-color: #FFFFFF;
	margin: 3% auto;
	padding: 2% 2%;
	float: none;
}

.panel{
	background-color: #FFFFFF;
	}
.panel-body{
	padding-top: 5px;
	padding-bottom: 40px;
}
.panel-default{
	border: none;
}

.panel-title.pull-left{
	color: #0000CC;
	font-size: 110%;
	font-weight: 900;
}
.panel-default>.panel-heading{
	background-color: #FFFFFF;
	border-bottom:  #0000CC;
	padding-bottom: 0;
}
.pull-right{
	font-size: 80%;
}

.btn-default{
	background-color: #FFFFFF;
	color: #0000CC;
	border: none;
	
}

.btn-group-sm>.btn, .btn-sm{
	font-size: 120%;
	
}

button.btn.btn-default{
	color: white;
	border-radius: 50px;
	border-color: transparent;
	background:#0000CC;
	/*linear-gradient(to right, #0000FF, #00FFFF);*/
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	padding: 0;
}
.table>thead>tr>th{
	border-bottom: 1px solid #0000CC;
}
.table>tbody>tr>td{
	border: none;
}

footer {
   position: absolute;
	left:0;
	bottom: 0;
	padding-bottom: 1%;
	width: 100%;
  }

@media only screen and (max-width: 1024px){

.navbar.navbar-default{
	width: 950px;
	height: 70px;
		 
}
	div.col-md-12{
	width: 950px;
	}
}
@media only screen and (max-width: 768px){

.navbar.navbar-default{
	width: 700px;
	height: 110px;
}
	
.logOut{
	width: 100%;
	padding-right: 30px;
	}
	
	div.col-md-12{
	width: 700px;
	}
a.dropdown-toggle{
	font-size: 90%;
		} 
.rea {
	font-size:500%;
	font-weight: 900;
	margin: 3% 0 0 0;
	}
body{
	font-size: 100%;
	}
.nav>li>a {
    padding: 15px 32px 0 10px;
}
	.pull-right{
		padding-top: 10px;
	}	
@media only screen and (max-width: 425px){
	
	div.col-md-12{
	width: 350px;
	margin: 15% auto;	
	}
body{
	font-size: 80%;
	}

.navbar.navbar-default{
	width: 350px;
	height: 130px;
}
a.dropdown-toggle{
	font-size: 110%;
	}
	.navbar-form.navbar-right{
		float: right;
		box-shadow: none;
		margin-bottom: 0;
	}
/*	.nav.navbar-nav{
		width: 250px;
		height: 250px;
	}*/
.nav>li>a {
    padding: 10px 20px 0 40px;
}
	.nav>li{
   display: inline-block;
}
	
.rea {
	font-size:400%;
	font-weight: 900;
	margin: 3% 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
	}
.logOut{
	width: 100%;
	padding-top:0;
		}
	.container-fluid>.navbar-collapse{
		margin: 0 auto;
	}
	.navbar-text.navbar-right{
	margin-top: 25px;
}
h1{
	font-size:160%;
	margin: 20px 3%;
	}

.table>thead>tr>th{
	font-size: 50%;
}
.table>tbody>tr>td{
	font-size: 40%;
}
	.pull-right{
		padding-top: 5px;
	}
@media only screen and (max-width: 375px){
	
	div.col-md-12{
	width: 350px;
	margin: 15% auto;	
	}
body{
	font-size: 80%;
	}

.navbar.navbar-default{
	width: 350px;
	height: 100px;
}
a.dropdown-toggle{
	font-size: 90%;
	}
	.navbar-form.navbar-right{
		float: right;
		box-shadow: none;
		margin-bottom: 0;
	}
/*	.nav.navbar-nav{
		width: 250px;
		height: 250px;
	}*/
.nav>li>a {
    padding: 13px 0 10px 30px;
}
	.nav>li{
   display: inline-block;
}
	
.rea {
	font-size: 450%;
	font-weight: 900;
	margin: 3% 0 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
	}
.logOut{
	width: 100%;
	
		}
	.container-fluid>.navbar-collapse{
		margin: 0 auto;
	}

h1{
	font-size:160%;
	}
.pull-right{
		padding-top: 10px;
	}
@media only screen and (max-width: 320px){
	
	div.col-md-12{
	width: 320px;
	margin: 20% auto;	
	}
body{
	font-size: 80%;
	}

.navbar.navbar-default{
	width: 320px;
	height: 90px;
}
a.dropdown-toggle{
	font-size: 90%;
	}
	.navbar-form.navbar-right{
		float: right;
		box-shadow: none;
		margin-bottom: 0;
	}
/*	.nav.navbar-nav{
		width: 250px;
		height: 250px;
	}*/
.nav>li>a {
    padding: 10px 0 0 35px;
}
	.nav>li{
   display: inline-block;
}
	
.rea {
	font-size:300%;
	font-weight: 900;
	margin: 3% 0 0 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
	}
.logOut{
	width: 100%;
	
		}
	.container-fluid>.navbar-collapse{
		margin: 0 auto;
		
	}
h1{
	font-size:100% ;
	}
.navbar-text.navbar-right{
	margin-top: 18px;
}
.pull-right{
		padding-top: 10px;
	}
}


